<h1>Dictionary</h1>

<ul>
  <% @words.each do |word| %>
    <!-- TODO: another loop for word defs -->
    <li><%= word.name %>:
      <ol>
        <% word.definitions.each do |definition| %>
          <li><%= definition %>.</li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ul>

<a href="/">Home</a>
